
<template name="layout">
	<div class="container">		
		<!-- Here is the standard Bootstrap code for a Navigation bar taken directly from getbootstrap.com/components -->
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" 
			  			data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{{pathFor 'welcome'}}"><i class="fa fa-home"></i> Home</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav">
					<li><a href="{{pathFor 'about'}}"><i class="fa fa-info-circle"></i> About</a></li>
					<li><a href="{{pathFor 'chat'}}"><i class="fa fa-commenting-o"></i> Chat <span class="badge">{{numchats}}</span></a></li>
					<li><a href="{{pathFor 'posts'}}"><i class="fa fa-comments-o"></i> Posts <span class="badge">{{numposts}}</span></a></li>
					<li><a href="{{pathFor 'users'}}"><i class="fa fa-users"></i> Users</a></li>
				</ul>			

				<ul class="nav navbar-nav navbar-right">
			            {{> loginButtons}} <!-- here -->
				</ul>
					    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		
		<!-- Here is where the actual content of the page gets inserted by the router! -->
		{{> yield}}
		
	</div>
</template>

